* {
  margin: 0px;
  padding: 0px;
  font-family: cursive;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(100, 217, 225), rgb(14, 232, 173));
}
.box {
  width: fit-content;
  background-color: white;
  box-shadow: 5px 5px 10px black, -2px -2px 5px white;
  border-radius: 5px;
  padding: 35px;
}
h1 {
  color: palevioletred;
  font-size: 30px;
  padding: 10px;
}
input {
  padding: 8px;
  border-radius: 5px;
}
input[type="button"] {
  background-color: aqua;
}
label {
  color: rgb(90, 90, 231);
}
p {
  font-size: 30px;
}
